PORT=8080
DATABASE_URL=postgres://postgres.bdtsztphkqmpzrqascdl:[YOUR-PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres
JWT_SECRET=super-secret-key
GROQ_API_KEY=your-groq-key
CLAUDE_API_KEY=your-claude-key
